.playlist-create-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-create-wrapper {
    max-width: 1200px;
}

.playlist-create-form-container {
    width: 800px;
}