.album-info {
    padding: 20px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(15, 15, 15);
}

.album-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-wrapper {
    max-width: 1200px;
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 3fr;
}

.view-reviews-btn {
    margin-bottom: 16px;
}