.review {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 14px;
    background-color: rgb(15, 15, 15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-info {
    font-weight: bold;
    margin-bottom: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap:0;
    border-bottom: 1px solid;
    align-items: flex-start;
    justify-content:left;
}

.review-info > p {
    margin-bottom: 0;
}

.review-content {
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    line-height: 1.5;
    border-bottom: 1px solid;
    margin-bottom: 14px;
}

.review-info-prop-label, .review-info-prop {
    margin-right: 6px;
}

.review-info-prop-label {
    font-weight: 700;
}

.review-info-prop {
    font-weight: 400;
}

.review-footer {
    display: flex;
    gap: 10px;
}

.like-btn {
    background-color: rgb(55, 185, 99);
}

.dislike-btn {
    background-color: rgb(167, 23, 23);
}

.loading {
    opacity: 0.5;
    pointer-events: none;
}

.active {
    color: rgb(16, 0, 107);
}